{% load static %}
{% static "img" as baseUrl %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>LetUsPrepareYou | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"><h3>Test Yourself</h3></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul style="padding-right: 300px;">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about/">About Us</a></li>
                            </ul>

                            <!-- Register / Login / Logout-->

                            <div class="register-login-area">

                                {% if user.is_authenticated %}
                                
                                    <img src="{% static 'img/bg-img/bg1.jpg' %}" style="border-radius:50%;width:50px;height:50px;">
                                    <a href="/accounts/logout/">Logout</a>

                                {% else %}

                                    <a href="/accounts/register/" class="btn">Register</a>
                                    <a href="/accounts/login/" class="btn active">Login</a>

                                {% endif %}

                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area bg-img bg-overlay-2by5" style="background-image: url({% static 'img/bg-img/bg1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">

                <div class="col-12">
                    <!-- Hero Content -->
                            {% if user.is_authenticated %}

                            <div class="hero-content text-center">
                                <h2>Let Us Prepare You</h2>
                                <a href="#" class="btn clever-btn">Welcome, Mr {{user.first_name}}  {{user.last_name}}</a>
                            </div>

                            {% else %}

                             <div class="hero-content text-center">
                                 <h2>Let Us Prepare You</h2>
                                 <a href="/accounts/register/" class="btn clever-btn">Register</a>
                             </div>

                            {% endif %}

                    </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### About Heading Start ##### -->
    <section class="popular-courses-area section-padding-100-0" style="background-image: url({% static 'img/core-img/texture.png' %});">
        <div class="container" style="padding-bottom:100px">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>A Few Words About Us</h3>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body" style="text-align:Justify;font-size:20px">
                     We have Created This website For Helping Those Students Who Want to Learn and make Themselves Best Among People.<br><br>
                     By This Website You Can Learn and Test Yourself.
                    You Don't need of anyone to ask Question from you anymore..  We are Here to Do that for you. ☻<br><br>
                    This Website has 10 Practice Quiz's For Every Catagory of <strong>Test</strong>
                 </div>
            </div>

        </div>
    </section>
    <!-- ##### About Heading End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Top Footer Area -->
        <div class="top-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="index.html"><h3 style="color: #ffffff;">Let Us Prepare you</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="https://www.facebook.com/mutaher.affan14"><span>Mutaher's Email:</span> Mutaher Affan</a>
                <a href="#"><span>Bilal's Email:</span> Ahmed Bilal</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>